{% extends "base.html" %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
<h1 class="my-4">{{ category.name }}</h1>
{% for post in posts.items %}
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='featured_images/' + (post.image_file if post.image_file else 'default.jpg')) }}" class="card-img" alt="{{ post.title }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content[:150] }}...</p>
                    <a href="{{ url_for('main.post', post_id=post.id) }}" class="card-link">Read More</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<div class="pagination justify-content-center">
    {% if posts.has_prev %}
        <a class="page-link" href="{{ url_for('main.category_posts', category_id=category.id, page=posts.prev_num) }}">&laquo;</a>
    {% endif %}
    {% for page_num in posts.iter_pages() %}
        {% if page_num %}
            {% if page_num == posts.page %}
                <span class="page-link active">{{ page_num }}</span>
            {% else %}
                <a class="page-link" href="{{ url_for('main.category_posts', category_id=category.id, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if posts.has_next %}
        <a class="page-link" href="{{ url_for('main.category_posts', category_id=category.id, page=posts.next_num) }}">&raquo;</a>
    {% endif %}
</div>
{% endblock %}
